@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.list-orange li::before {
    content: "•";
    color: orange;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}